body {
    background-image: url('../../assets/img/sfondoMenu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
}

h1 {
    margin-top: 4px;
    color: white;
    text-align: center;
    font-size: 100px;
}

span {
    color: red;
}

.grigliaDownload {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
}

#logoApple {
    width: 100px;
}

#logoWindows {
    width: 112px;
}

.windowsBox {
    display: block;
    text-align: center;
}

.appleBox {
    display: block;
    text-align: center;
}

.bottoniWindows button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniWindows button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac {
    display: flex;
    justify-content: space-between;
}

.bottoniMac button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}

#download64 {
    margin-left: 5px;
}

#downloadJava64 {
    margin-left: 5px;
}

#downloadARM64 {
    margin-right: 5px;
}

#downloadJavaARM64 {
    margin-right: 5px;
}

#git {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#github {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

#github:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
    margin: 0;
}

#footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.366);
}

#footer hr {
    border: 2px solid white;
}

#testo {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}