body {
    background-image: url('../../assets/img/sfondoMenu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
}

span {
    color: red;
}

.grigliaDownload {
    display: flex;
    justify-content: space-between;
    color: white;
    
}

#logoApple {
    width: 100px;
    height: auto;
}

#logoWindows {
    width: 100px;
    height: auto;
}

.windowsBox {
    display: block;
    text-align: center;
}

.appleBox {
    display: block;
    text-align: center;
}

.windowsBox button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.windowsBox button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac {
    display: flex;
    justify-content: space-between;
}

.bottoniMac button {
    width: 100%;
    background-color: lightgreen;
    border: 3px solid #0E582A;
    font-size: 20px;
    height: 60px;
    color: #0E582A;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniMac button:active {
    width: 100%;
    background-color: #0E582A;
    border: 3px solid lightgreen;
    font-size: 20px;
    height: 60px;
    color: lightgreen;
    cursor: pointer;
    border-radius: 15px;
}